/* Creo que este archivo ya no se usa */

.field {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 0.0625em;
    padding: 0.625em;
    background-color: white;
    box-sizing: border-box;
}

.field_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field_item {
    width: 100%;
}

.field_invisible_table {
    width: 100%;
    table-layout: fixed;
}

.field_label {
    font-size: 1em;
    white-space: nowrap;
}

.field_label::after {
  content: ':';
}

.error {
    color: #B50000;
    border-color: #B50000;
    
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}