{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr/>

    <form method="POST" enctype="multipart/form-data" class="row needs-validation">
        {{ form.csrf_token }}

        {% for field in form if not field.type in ["CSRFTokenField"] %}
        <div class="mb-3">
            {{ field.label(class_='form-label')}}
            {{ field(class_=field.render_kw.class if field.render_kw.class, placeholder=field.description, disabled=read_only) }}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert" style="background-color: transparent; border-color: transparent; color:red; padding: 0.5rem">
               {{ error}}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        

        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="submit" value="{{ submit_display_name }}" class="btn btn-success">
            <button type="button" class="btn btn-secondary" onclick="location.href='{{ cancel_button_url }}'">Cancelar</button>
          </div>
    </form>
{% endblock %}
    
    
    
   
