{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" />
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr />

    <div class="d-flex justify-content-between p-1 flex-wrap">
        {% if searchbar[0] %}
            <form class="d-flex" id="form-searchbar" method='GET'>
                {% for args in request.args.items() %}
                    {% if args[0] != searchbar[2] and args[0] != "page" %}
                        <input type="hidden" name="{{ args[0] }}" value="{{ args[1] }}">
                    {% endif %}
                {% endfor %}
                
                <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="{{ searchbar[1]}}" aria-label="Search" name="{{ searchbar[2] }}" value="{{ request.args.get(searchbar[2]) if request.args.get(searchbar[2])}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        {% endif %}

        <div id="paginator-div" class="d-flex align-items-center flex-wrap justify-content-center">
            <button type="button" class="btn btn-dark" onclick="location.href='{{ generate_url(paginator_url, request.args, page=paginator.prev_num) }}'"
            {{ disable_if(not paginator.has_prev) }}>
                Anterior
            </button>

            <span class="align-middle p-2">
                {{ paginator.page }} de {{ paginator.pages }}
            </span>

            <button type="button" class="btn btn-dark" onclick="location.href='{{ generate_url(paginator_url, request.args, page=paginator.next_num) }}'"
            {{ disable_if(not paginator.has_next) }}>
                Siguiente
            </button>
        </div>

        <div class="btn-toolbar">
            <div class="btn-toolbar">
                {% with custom_buttons = menu_global_buttons.get_buttons() %}
                    {% for button in custom_buttons %}
                        <button type="button" class="btn {{ button.btn_class }}" onclick="location.href='{{ button.url }}'"
                            {{ disable_if(button.disabled) }}>
                            {{ button.display_name }}
                        </button>
                    {% endfor %}

                    {% with custom_buttons = other_global_buttons.get_buttons() %}
                        {% if other_global_buttons.is_one(custom_buttons) %}
                            {% with button = custom_buttons[0] %}
                                <button type="button" class="btn {{ button.btn_class }}" onclick="location.href='{{ button.url }}'"
                                    {{disable_if(button.disabled) }}>
                                    {{ button.display_name }}
                                </button>
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
                
                {% with custom_buttons = filter_global_buttons.get_buttons() %}
                    {% if filter_global_buttons.is_more_one(custom_buttons) %}
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Filtrar por estado
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {% for button in custom_buttons %}
                                    <li>
                                        <button type="button" class="dropdown-item {{'active' if request.args.estado == button.value}}" onclick="location.href='{{ button.url }}'"
                                            {{disable_if(button.disabled) }}>
                                            {{ button.display_name }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                {% endwith %}

                {% with custom_buttons = other_global_buttons.get_buttons() %}
                    {% if other_global_buttons.is_more_one(custom_buttons) %}
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Otras opciones
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {% for button in custom_buttons %}
                                    <li>
                                        <button type="button" class="dropdown-item" onclick="location.href='{{ button.url }}'"
                                            {{disable_if(button.disabled) }}>
                                            {{ button.display_name }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        {{ rendered_list | safe }}
    </div>
{% endblock %}
