{% extends "layout.html" %}

{% block title %}
   Estadisticas
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
  <h1>{{ title }}</h1>
  <hr/>
  <canvas id="line_chart" width="1250" height="500"></canvas>
  <script>
    new Chart(document.getElementById("line_chart"), {
    type: "{{chart_type}}",
    data:{
      labels: {{labels|safe}},
      datasets:[{
          label:"{{title}}",
          data: {{values|safe}},
          fill: true,
          backgroundColor: 'rgba(54, 235, 162, 0.2)',
          borderColor: "rgb(75, 192, 192)",
          lineTension: 0.3,
          }]
    },
    options: {
    responsive: true,
    }
    });
 </script>   

{% endblock %}
