{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1>Bienvenido a la aplicación privada!</h1>
    <hr />

    {% if user %}
        {% with roles = get_roles(user) %}
            <h4>Usuario: {{ user.first_name }} {{ user.last_name }}</h4>
            <h4>Roles: {{ ", ".join(roles) }}</h4>
        {% endwith%}
    {% else %}
        <a href="{{ url_for('privada.autenticación.login') }}" style="text-decoration: none">
            <h4>No hay una sesión iniciada.</h4>
        </a>
    {% endif %}
{% endblock %}
