<html>
    <meta charset="utf-8">
    
    <body>
        <header class="header">
            <div class="header_title">
                <p>Recibo #{{ cuote.id }}</p>
            </div>
            
            <!-- Tuve que hacerlo así para que me lo tome -->
            <img src="{{root_path}}{{ url_for('static', filename='images/LogoConLetras.png')}}"
                 width="109" height="118" alt="Logo del club" />
            
            <div class="header_title">
                <p>{{ cuote.paid_date.strftime("%d/%m/%Y") }}</p>
            </div>
        </header>
        
        <div class="body_text">
            Recibimos de <b>{{ cuote.associate.full_name }}</b>
            el importe en <b>{{ format_price(cuote.total_price) }} ({{ num_to_words(cuote.total_price) }} pesos)</b>
        </div>
        
        <div class="body_text">
            Por la cuota de <b>{{ format_date(cuote.paid_date, "%B %Y") }}</b>
            para la <b>{{ cuote.service }}</b>
        </div>
    </body>
</html>
